@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
h1 {
    font-family: 'Inter', sans-serif;
    letter-spacing:-3px;
    margin-left:80px
}
body {
  font-family: 'Inter', sans-serif;
  letter-spacing:-1px
  font-size:25px
}
